<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c6ded77ed9ec32da3d2fa8d248a34b4e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
</head>
<body>
    
    
            <div class="folium-map" id="map_c6ded77ed9ec32da3d2fa8d248a34b4e" ></div>
        
</body>
<script>
    
    
            var map_c6ded77ed9ec32da3d2fa8d248a34b4e = L.map(
                "map_c6ded77ed9ec32da3d2fa8d248a34b4e",
                {
                    center: [20.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 2,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_70366da2a2d3a3fc639616dfa0cc070c = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_70366da2a2d3a3fc639616dfa0cc070c.addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
            var circle_marker_35f128c53af89a3af13ca46011d659a3 = L.circleMarker(
                [10.7739, 10.7739],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_ea50ebed6c04ecd523dd1c9fbf1ff9cf = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_114bd7465855cd83ed89bf3d242ce91a = $(`<div id="html_114bd7465855cd83ed89bf3d242ce91a" style="width: 100.0%; height: 100.0%;">             Attack: SQL_INJECTION<br>             Location: Palakkad, India<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_ea50ebed6c04ecd523dd1c9fbf1ff9cf.setContent(html_114bd7465855cd83ed89bf3d242ce91a);
            
        

        circle_marker_35f128c53af89a3af13ca46011d659a3.bindPopup(popup_ea50ebed6c04ecd523dd1c9fbf1ff9cf)
        ;

        
    
    
            var circle_marker_3f046c4c381e7a9298d685c4ad79fcd7 = L.circleMarker(
                [10.7739, 10.7739],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_a1027980c9221447990e7316fd09427c = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_8f3da01959e228fb92b775b9c3b7528f = $(`<div id="html_8f3da01959e228fb92b775b9c3b7528f" style="width: 100.0%; height: 100.0%;">             Attack: SQL_INJECTION<br>             Location: Palakkad, India<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_a1027980c9221447990e7316fd09427c.setContent(html_8f3da01959e228fb92b775b9c3b7528f);
            
        

        circle_marker_3f046c4c381e7a9298d685c4ad79fcd7.bindPopup(popup_a1027980c9221447990e7316fd09427c)
        ;

        
    
    
            var circle_marker_f0116356947ed0a378b4c03d54d13581 = L.circleMarker(
                [42.6977, 23.3219],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_15d88104d086cf11d2880811a2a52aed = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_b09a55c56774c2c990264193c6535779 = $(`<div id="html_b09a55c56774c2c990264193c6535779" style="width: 100.0%; height: 100.0%;">             Attack: SQL_INJECTION<br>             Location: Sofia, Bulgaria<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_15d88104d086cf11d2880811a2a52aed.setContent(html_b09a55c56774c2c990264193c6535779);
            
        

        circle_marker_f0116356947ed0a378b4c03d54d13581.bindPopup(popup_15d88104d086cf11d2880811a2a52aed)
        ;

        
    
    
            var circle_marker_45ce5ef3ebe5c8b0f0e4d324525f77d5 = L.circleMarker(
                [42.6977, 23.3219],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_43ae135fa31f6772b95d67cfddf2a08b = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_bc10a8fa6cdabb508ca38b98e15b89e8 = $(`<div id="html_bc10a8fa6cdabb508ca38b98e15b89e8" style="width: 100.0%; height: 100.0%;">             Attack: XSS<br>             Location: Sofia, Bulgaria<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_43ae135fa31f6772b95d67cfddf2a08b.setContent(html_bc10a8fa6cdabb508ca38b98e15b89e8);
            
        

        circle_marker_45ce5ef3ebe5c8b0f0e4d324525f77d5.bindPopup(popup_43ae135fa31f6772b95d67cfddf2a08b)
        ;

        
    
    
            var circle_marker_9ac9b5c004ec5c5953ed214cbdca9c0a = L.circleMarker(
                [42.6977, 23.3219],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_09b8e7551de4990d505b298424eb10bf = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c7c035227f152461a0a233a912e92d78 = $(`<div id="html_c7c035227f152461a0a233a912e92d78" style="width: 100.0%; height: 100.0%;">             Attack: XSS<br>             Location: Sofia, Bulgaria<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_09b8e7551de4990d505b298424eb10bf.setContent(html_c7c035227f152461a0a233a912e92d78);
            
        

        circle_marker_9ac9b5c004ec5c5953ed214cbdca9c0a.bindPopup(popup_09b8e7551de4990d505b298424eb10bf)
        ;

        
    
    
            var circle_marker_c611563461d63af95cc7308a46fa7ced = L.circleMarker(
                [40.7143, -74.006],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_1ba65fde796aa8f9fb18bb3b02d9c33f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_6f6750fc949ac6a8597a80cf6a122158 = $(`<div id="html_6f6750fc949ac6a8597a80cf6a122158" style="width: 100.0%; height: 100.0%;">             Attack: XSS<br>             Location: New York, United States<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_1ba65fde796aa8f9fb18bb3b02d9c33f.setContent(html_6f6750fc949ac6a8597a80cf6a122158);
            
        

        circle_marker_c611563461d63af95cc7308a46fa7ced.bindPopup(popup_1ba65fde796aa8f9fb18bb3b02d9c33f)
        ;

        
    
    
            var circle_marker_ad58a996755b09e84578e62e335abfaa = L.circleMarker(
                [40.7143, -74.006],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_de9b02373460c8fa483360a3806c9954 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a3ac94aafaff074803d4f8e2884a7e91 = $(`<div id="html_a3ac94aafaff074803d4f8e2884a7e91" style="width: 100.0%; height: 100.0%;">             Attack: SQL_INJECTION<br>             Location: New York, United States<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_de9b02373460c8fa483360a3806c9954.setContent(html_a3ac94aafaff074803d4f8e2884a7e91);
            
        

        circle_marker_ad58a996755b09e84578e62e335abfaa.bindPopup(popup_de9b02373460c8fa483360a3806c9954)
        ;

        
    
    
            var circle_marker_429ebc86ff9d7139e7d6d792686783e0 = L.circleMarker(
                [40.7143, -74.006],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_b417f91f8895a87646ca189f4090fd77 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f953f0c3b2f6255b08fed3d73aa2e48b = $(`<div id="html_f953f0c3b2f6255b08fed3d73aa2e48b" style="width: 100.0%; height: 100.0%;">             Attack: SQL_INJECTION<br>             Location: New York, United States<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_b417f91f8895a87646ca189f4090fd77.setContent(html_f953f0c3b2f6255b08fed3d73aa2e48b);
            
        

        circle_marker_429ebc86ff9d7139e7d6d792686783e0.bindPopup(popup_b417f91f8895a87646ca189f4090fd77)
        ;

        
    
    
            var circle_marker_2c7957973251bdccc2bb6b977d5da6b8 = L.circleMarker(
                [55.7339, 12.362],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_6c29aa39f5103d3d7ef1078b3bd22d30 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c747859601db5904e2b216316061c37f = $(`<div id="html_c747859601db5904e2b216316061c37f" style="width: 100.0%; height: 100.0%;">             Attack: SQL_INJECTION<br>             Location: Ballerup Municipality, Denmark<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_6c29aa39f5103d3d7ef1078b3bd22d30.setContent(html_c747859601db5904e2b216316061c37f);
            
        

        circle_marker_2c7957973251bdccc2bb6b977d5da6b8.bindPopup(popup_6c29aa39f5103d3d7ef1078b3bd22d30)
        ;

        
    
    
            var circle_marker_69fc9d23dfc8971ddc7a3338ee0f6ec7 = L.circleMarker(
                [55.7339, 12.362],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_1d29cc1c9d4a3972c663895a025b8a50 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c1d6c72ec6626e4344d344c35b13d509 = $(`<div id="html_c1d6c72ec6626e4344d344c35b13d509" style="width: 100.0%; height: 100.0%;">             Attack: XSS<br>             Location: Ballerup Municipality, Denmark<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_1d29cc1c9d4a3972c663895a025b8a50.setContent(html_c1d6c72ec6626e4344d344c35b13d509);
            
        

        circle_marker_69fc9d23dfc8971ddc7a3338ee0f6ec7.bindPopup(popup_1d29cc1c9d4a3972c663895a025b8a50)
        ;

        
    
    
            var circle_marker_10de21a5a859c202c1873fdbfc848428 = L.circleMarker(
                [55.7339, 12.362],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_dbc31ff03dfcaedfe53547183a87d7c6 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9f0e90e42310d5e5806c5bebe954ba51 = $(`<div id="html_9f0e90e42310d5e5806c5bebe954ba51" style="width: 100.0%; height: 100.0%;">             Attack: XSS<br>             Location: Ballerup Municipality, Denmark<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_dbc31ff03dfcaedfe53547183a87d7c6.setContent(html_9f0e90e42310d5e5806c5bebe954ba51);
            
        

        circle_marker_10de21a5a859c202c1873fdbfc848428.bindPopup(popup_dbc31ff03dfcaedfe53547183a87d7c6)
        ;

        
    
    
            var circle_marker_7777b7b3043a973c5be45c5f01b0879b = L.circleMarker(
                [55.7339, 12.362],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_592dbfd93f4ba31f0e2df78018342f65 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_8da5cc178beb618d1f38acb2a816d435 = $(`<div id="html_8da5cc178beb618d1f38acb2a816d435" style="width: 100.0%; height: 100.0%;">             Attack: SQL_INJECTION<br>             Location: Ballerup Municipality, Denmark<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_592dbfd93f4ba31f0e2df78018342f65.setContent(html_8da5cc178beb618d1f38acb2a816d435);
            
        

        circle_marker_7777b7b3043a973c5be45c5f01b0879b.bindPopup(popup_592dbfd93f4ba31f0e2df78018342f65)
        ;

        
    
    
            var circle_marker_33d0655297ca6bc2e792174b2d69b528 = L.circleMarker(
                [13.0895, 80.2739],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_20e6bf510276e143eb8d570c49b4cc89 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ab59d819b268800bd9069527f0e90d18 = $(`<div id="html_ab59d819b268800bd9069527f0e90d18" style="width: 100.0%; height: 100.0%;">             Attack: SQL_INJECTION<br>             Location: Chennai, India<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_20e6bf510276e143eb8d570c49b4cc89.setContent(html_ab59d819b268800bd9069527f0e90d18);
            
        

        circle_marker_33d0655297ca6bc2e792174b2d69b528.bindPopup(popup_20e6bf510276e143eb8d570c49b4cc89)
        ;

        
    
    
            var circle_marker_a56f8ad2dec9f6ab26832a01051588e3 = L.circleMarker(
                [11.0102, 76.9701],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_3d16926932d1a00596f06500088ad93e = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_b911ade8ac8f7196ff06a7c9df0bf891 = $(`<div id="html_b911ade8ac8f7196ff06a7c9df0bf891" style="width: 100.0%; height: 100.0%;">             Attack: XSS<br>             Location: Coimbatore, India<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_3d16926932d1a00596f06500088ad93e.setContent(html_b911ade8ac8f7196ff06a7c9df0bf891);
            
        

        circle_marker_a56f8ad2dec9f6ab26832a01051588e3.bindPopup(popup_3d16926932d1a00596f06500088ad93e)
        ;

        
    
    
            var circle_marker_159731cebc9e45133aa0f31e9bf60202 = L.circleMarker(
                [11.0102, 76.9701],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_396ef38d6976569a0ca552971f5a9b78 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_149bbe1e03bc346e5a8961f0988b558c = $(`<div id="html_149bbe1e03bc346e5a8961f0988b558c" style="width: 100.0%; height: 100.0%;">             Attack: XSS<br>             Location: Coimbatore, India<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_396ef38d6976569a0ca552971f5a9b78.setContent(html_149bbe1e03bc346e5a8961f0988b558c);
            
        

        circle_marker_159731cebc9e45133aa0f31e9bf60202.bindPopup(popup_396ef38d6976569a0ca552971f5a9b78)
        ;

        
    
    
            var circle_marker_a0522cd6c5d163aca9b80d7e10d83d8b = L.circleMarker(
                [55.7929, 37.4845],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_621a5d0ffbd1f2bb53890dacde7691ab = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_d0482683855db3db3b4f1abf1f131289 = $(`<div id="html_d0482683855db3db3b4f1abf1f131289" style="width: 100.0%; height: 100.0%;">             Attack: XSS<br>             Location: Moscow, Russia<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_621a5d0ffbd1f2bb53890dacde7691ab.setContent(html_d0482683855db3db3b4f1abf1f131289);
            
        

        circle_marker_a0522cd6c5d163aca9b80d7e10d83d8b.bindPopup(popup_621a5d0ffbd1f2bb53890dacde7691ab)
        ;

        
    
    
            var circle_marker_e3a53564b9d4f4b46874568811265ed4 = L.circleMarker(
                [55.7929, 37.4845],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_369deb5eff87d88e9d8302f34b1d174f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_7384efef5242578d2849131ce57df875 = $(`<div id="html_7384efef5242578d2849131ce57df875" style="width: 100.0%; height: 100.0%;">             Attack: XSS<br>             Location: Moscow, Russia<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_369deb5eff87d88e9d8302f34b1d174f.setContent(html_7384efef5242578d2849131ce57df875);
            
        

        circle_marker_e3a53564b9d4f4b46874568811265ed4.bindPopup(popup_369deb5eff87d88e9d8302f34b1d174f)
        ;

        
    
    
            var circle_marker_3bccb8d072328d3e053259cb68744d58 = L.circleMarker(
                [11.0102, 76.9701],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_9ea7727875d9a282b505dee4f20479bb = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_60490e7d20d30b8a927c201600d103d4 = $(`<div id="html_60490e7d20d30b8a927c201600d103d4" style="width: 100.0%; height: 100.0%;">             Attack: XSS<br>             Location: Coimbatore, India<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_9ea7727875d9a282b505dee4f20479bb.setContent(html_60490e7d20d30b8a927c201600d103d4);
            
        

        circle_marker_3bccb8d072328d3e053259cb68744d58.bindPopup(popup_9ea7727875d9a282b505dee4f20479bb)
        ;

        
    
    
            var circle_marker_263fbc50a863a2986cae9f0c27ea95ac = L.circleMarker(
                [11.0102, 76.9701],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_6a7b8f28b5dba7b726110c9030cb6c93 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9fcd3368006b5056392cc31a0598936a = $(`<div id="html_9fcd3368006b5056392cc31a0598936a" style="width: 100.0%; height: 100.0%;">             Attack: XSS<br>             Location: Coimbatore, India<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_6a7b8f28b5dba7b726110c9030cb6c93.setContent(html_9fcd3368006b5056392cc31a0598936a);
            
        

        circle_marker_263fbc50a863a2986cae9f0c27ea95ac.bindPopup(popup_6a7b8f28b5dba7b726110c9030cb6c93)
        ;

        
    
    
            var circle_marker_5ff407aff7ce5e6e8b77d3016a7249c9 = L.circleMarker(
                [48.8558, 2.3494],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_97f67a1c89d1eb8e86e250a343bec7e9 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a445e49bb7bf05510be0b8607e8852e5 = $(`<div id="html_a445e49bb7bf05510be0b8607e8852e5" style="width: 100.0%; height: 100.0%;">             Attack: SQL_INJECTION<br>             Location: Paris, France<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_97f67a1c89d1eb8e86e250a343bec7e9.setContent(html_a445e49bb7bf05510be0b8607e8852e5);
            
        

        circle_marker_5ff407aff7ce5e6e8b77d3016a7249c9.bindPopup(popup_97f67a1c89d1eb8e86e250a343bec7e9)
        ;

        
    
    
            var circle_marker_ee2ff516f545f0fd60d175768950748e = L.circleMarker(
                [11.0102, 76.9701],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_73e90294dcd13c0e28604259949a7a66 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_465c7d6ce82d8b0e5cfc8f3c6d4a195c = $(`<div id="html_465c7d6ce82d8b0e5cfc8f3c6d4a195c" style="width: 100.0%; height: 100.0%;">             Attack: XSS<br>             Location: Coimbatore, India<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_73e90294dcd13c0e28604259949a7a66.setContent(html_465c7d6ce82d8b0e5cfc8f3c6d4a195c);
            
        

        circle_marker_ee2ff516f545f0fd60d175768950748e.bindPopup(popup_73e90294dcd13c0e28604259949a7a66)
        ;

        
    
    
            var circle_marker_ac38b41615a14ca9482213e89207b218 = L.circleMarker(
                [35.6956, 139.756],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_fff95fadadba1141a04b15fd2917ddc7 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_44a39a2aaa293d29e4838bbd296958e5 = $(`<div id="html_44a39a2aaa293d29e4838bbd296958e5" style="width: 100.0%; height: 100.0%;">             Attack: SQL_INJECTION<br>             Location: Kanda-jinbōchō, Japan<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_fff95fadadba1141a04b15fd2917ddc7.setContent(html_44a39a2aaa293d29e4838bbd296958e5);
            
        

        circle_marker_ac38b41615a14ca9482213e89207b218.bindPopup(popup_fff95fadadba1141a04b15fd2917ddc7)
        ;

        
    
    
            var circle_marker_b4f8e1b29a0a66cb2af05b532649762c = L.circleMarker(
                [13.0895, 80.2739],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_259134492e32c2541a39b99df0061ec2 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3d7751a56778ef014944eb09f098d358 = $(`<div id="html_3d7751a56778ef014944eb09f098d358" style="width: 100.0%; height: 100.0%;">             Attack: SQL_INJECTION<br>             Location: Chennai, India<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_259134492e32c2541a39b99df0061ec2.setContent(html_3d7751a56778ef014944eb09f098d358);
            
        

        circle_marker_b4f8e1b29a0a66cb2af05b532649762c.bindPopup(popup_259134492e32c2541a39b99df0061ec2)
        ;

        
    
    
            var circle_marker_f9c1078753618ce304e2fdff6664533b = L.circleMarker(
                [13.0895, 80.2739],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_9a9fed33f1a16587faac4ae81f24f95f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_cebdb0a7433c056f0469a53f413e873c = $(`<div id="html_cebdb0a7433c056f0469a53f413e873c" style="width: 100.0%; height: 100.0%;">             Attack: XSS<br>             Location: Chennai, India<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_9a9fed33f1a16587faac4ae81f24f95f.setContent(html_cebdb0a7433c056f0469a53f413e873c);
            
        

        circle_marker_f9c1078753618ce304e2fdff6664533b.bindPopup(popup_9a9fed33f1a16587faac4ae81f24f95f)
        ;

        
    
    
            var circle_marker_e74ce74272d715f29bbd9f032b9b1b74 = L.circleMarker(
                [37.9842, 23.7353],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_fcd8e6865466faa4e426b9d6e730b9f0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a3b3e1e478910acd221d5898c43d5a74 = $(`<div id="html_a3b3e1e478910acd221d5898c43d5a74" style="width: 100.0%; height: 100.0%;">             Attack: XSS<br>             Location: Athens, Greece<br>             VPN: 1<br>             Proxy: 0<br>             Hosting: 1             </div>`)[0];
                popup_fcd8e6865466faa4e426b9d6e730b9f0.setContent(html_a3b3e1e478910acd221d5898c43d5a74);
            
        

        circle_marker_e74ce74272d715f29bbd9f032b9b1b74.bindPopup(popup_fcd8e6865466faa4e426b9d6e730b9f0)
        ;

        
    
    
            var circle_marker_2c19a8cb651ba17061fba83ab3d9fd13 = L.circleMarker(
                [37.9842, 23.7353],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_21ba7f177ae53da8735f20884abd7dd0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c51e513a2db4bf53b38489b00c1ee7c5 = $(`<div id="html_c51e513a2db4bf53b38489b00c1ee7c5" style="width: 100.0%; height: 100.0%;">             Attack: SQL_INJECTION<br>             Location: Athens, Greece<br>             VPN: 1<br>             Proxy: 0<br>             Hosting: 1             </div>`)[0];
                popup_21ba7f177ae53da8735f20884abd7dd0.setContent(html_c51e513a2db4bf53b38489b00c1ee7c5);
            
        

        circle_marker_2c19a8cb651ba17061fba83ab3d9fd13.bindPopup(popup_21ba7f177ae53da8735f20884abd7dd0)
        ;

        
    
    
            var circle_marker_2bc94242af54aef5da8d1ccf84f08508 = L.circleMarker(
                [38.5075, -0.23346],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_0eeccb86a6e4440a9a18a8ca70e47094 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2cc5fe822f192bbf0c31e5614534e02c = $(`<div id="html_2cc5fe822f192bbf0c31e5614534e02c" style="width: 100.0%; height: 100.0%;">             Attack: XSS<br>             Location: Villajoyosa, Spain<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_0eeccb86a6e4440a9a18a8ca70e47094.setContent(html_2cc5fe822f192bbf0c31e5614534e02c);
            
        

        circle_marker_2bc94242af54aef5da8d1ccf84f08508.bindPopup(popup_0eeccb86a6e4440a9a18a8ca70e47094)
        ;

        
    
    
            var circle_marker_8e021578476636f46f6f22ea44f76fb8 = L.circleMarker(
                [38.5075, -0.23346],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_b6d25dfe3d0cbf5b8b412ffac5143b1d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_0922ac20a933cca9d75c9dc04ddfb330 = $(`<div id="html_0922ac20a933cca9d75c9dc04ddfb330" style="width: 100.0%; height: 100.0%;">             Attack: XSS<br>             Location: Villajoyosa, Spain<br>             VPN: 1<br>             Proxy: 0<br>             Hosting: 1             </div>`)[0];
                popup_b6d25dfe3d0cbf5b8b412ffac5143b1d.setContent(html_0922ac20a933cca9d75c9dc04ddfb330);
            
        

        circle_marker_8e021578476636f46f6f22ea44f76fb8.bindPopup(popup_b6d25dfe3d0cbf5b8b412ffac5143b1d)
        ;

        
    
    
            var circle_marker_929c9c8a3089e48f50d7655db5c8af82 = L.circleMarker(
                [38.5075, -0.23346],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_a117f1e8690f48b52ed0ed83558c0e6f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_da64e5c17c8721f2aa2e2fc873e51c64 = $(`<div id="html_da64e5c17c8721f2aa2e2fc873e51c64" style="width: 100.0%; height: 100.0%;">             Attack: SQL_INJECTION<br>             Location: Villajoyosa, Spain<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_a117f1e8690f48b52ed0ed83558c0e6f.setContent(html_da64e5c17c8721f2aa2e2fc873e51c64);
            
        

        circle_marker_929c9c8a3089e48f50d7655db5c8af82.bindPopup(popup_a117f1e8690f48b52ed0ed83558c0e6f)
        ;

        
    
    
            var circle_marker_9332f71d938715f84f910a3181e48d7d = L.circleMarker(
                [38.5075, -0.23346],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_6beb2a29532d475e3c34bf13d32cdc19 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_cba33a06a7fde6687b9b071aa9a471ef = $(`<div id="html_cba33a06a7fde6687b9b071aa9a471ef" style="width: 100.0%; height: 100.0%;">             Attack: XSS<br>             Location: Villajoyosa, Spain<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_6beb2a29532d475e3c34bf13d32cdc19.setContent(html_cba33a06a7fde6687b9b071aa9a471ef);
            
        

        circle_marker_9332f71d938715f84f910a3181e48d7d.bindPopup(popup_6beb2a29532d475e3c34bf13d32cdc19)
        ;

        
    
    
            var circle_marker_791f328d273aee6b28cdc52d1951b175 = L.circleMarker(
                [12.7333, 77.8367],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_459e5994194e9c2e3a2c66f08e7553a5 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_256ed1abfbcdc076061cd4e7ff6cce4a = $(`<div id="html_256ed1abfbcdc076061cd4e7ff6cce4a" style="width: 100.0%; height: 100.0%;">             Attack: SQL_INJECTION<br>             Location: Hosūr, India<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_459e5994194e9c2e3a2c66f08e7553a5.setContent(html_256ed1abfbcdc076061cd4e7ff6cce4a);
            
        

        circle_marker_791f328d273aee6b28cdc52d1951b175.bindPopup(popup_459e5994194e9c2e3a2c66f08e7553a5)
        ;

        
    
    
            var circle_marker_d8e3fbaaba097c9c1fb6fd74520ed5a4 = L.circleMarker(
                [38.5075, -0.23346],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_8e3f9df422504e4793d9a8d09a2af819 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a5805cd1002ff33444d215c683be2e27 = $(`<div id="html_a5805cd1002ff33444d215c683be2e27" style="width: 100.0%; height: 100.0%;">             Attack: XSS<br>             Location: Villajoyosa, Spain<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_8e3f9df422504e4793d9a8d09a2af819.setContent(html_a5805cd1002ff33444d215c683be2e27);
            
        

        circle_marker_d8e3fbaaba097c9c1fb6fd74520ed5a4.bindPopup(popup_8e3f9df422504e4793d9a8d09a2af819)
        ;

        
    
    
            var circle_marker_39b2d3cfa910a079e9545b4b4dfbb122 = L.circleMarker(
                [50.8795, 4.48262],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_a9db651558415c26f6a1cbb796398f13 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_7cfc0ac6834eaa01a6b45dabd853b860 = $(`<div id="html_7cfc0ac6834eaa01a6b45dabd853b860" style="width: 100.0%; height: 100.0%;">             Attack: XSS<br>             Location: Zaventem, Belgium<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_a9db651558415c26f6a1cbb796398f13.setContent(html_7cfc0ac6834eaa01a6b45dabd853b860);
            
        

        circle_marker_39b2d3cfa910a079e9545b4b4dfbb122.bindPopup(popup_a9db651558415c26f6a1cbb796398f13)
        ;

        
    
    
            var circle_marker_90fe33f43852a6f4d0aee06b280bad31 = L.circleMarker(
                [48.8558, 2.3494],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_412f751e8c0b9aeeb47304e745f1b473 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f758566b70cd5484d33436c8470a5547 = $(`<div id="html_f758566b70cd5484d33436c8470a5547" style="width: 100.0%; height: 100.0%;">             Attack: XSS<br>             Location: Paris, France<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_412f751e8c0b9aeeb47304e745f1b473.setContent(html_f758566b70cd5484d33436c8470a5547);
            
        

        circle_marker_90fe33f43852a6f4d0aee06b280bad31.bindPopup(popup_412f751e8c0b9aeeb47304e745f1b473)
        ;

        
    
    
            var circle_marker_8488ffb5c7b9f0fbee2b0050036c05d5 = L.circleMarker(
                [38.5075, -0.23346],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_fb4dec90a953e4f85bac8a60a611863c = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_405dbc989e2bca9afd38150c34da6335 = $(`<div id="html_405dbc989e2bca9afd38150c34da6335" style="width: 100.0%; height: 100.0%;">             Attack: XSS<br>             Location: Villajoyosa, Spain<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_fb4dec90a953e4f85bac8a60a611863c.setContent(html_405dbc989e2bca9afd38150c34da6335);
            
        

        circle_marker_8488ffb5c7b9f0fbee2b0050036c05d5.bindPopup(popup_fb4dec90a953e4f85bac8a60a611863c)
        ;

        
    
    
            var circle_marker_fc0d7f6b09646996306c36b2d680f94a = L.circleMarker(
                [38.5075, -0.23346],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_da67936c76ff144a75cf8baca0dd30b6 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_129449f31b113b2793223849a6d7fdc4 = $(`<div id="html_129449f31b113b2793223849a6d7fdc4" style="width: 100.0%; height: 100.0%;">             Attack: XSS<br>             Location: Villajoyosa, Spain<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_da67936c76ff144a75cf8baca0dd30b6.setContent(html_129449f31b113b2793223849a6d7fdc4);
            
        

        circle_marker_fc0d7f6b09646996306c36b2d680f94a.bindPopup(popup_da67936c76ff144a75cf8baca0dd30b6)
        ;

        
    
    
            var circle_marker_6d1f78b2ce84acf92a66275871a30690 = L.circleMarker(
                [38.5075, -0.23346],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_5f644c234d2b0386015a85227de26a72 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_92e62127dabaf79f767e2f79b48363f6 = $(`<div id="html_92e62127dabaf79f767e2f79b48363f6" style="width: 100.0%; height: 100.0%;">             Attack: SQL_INJECTION<br>             Location: Villajoyosa, Spain<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_5f644c234d2b0386015a85227de26a72.setContent(html_92e62127dabaf79f767e2f79b48363f6);
            
        

        circle_marker_6d1f78b2ce84acf92a66275871a30690.bindPopup(popup_5f644c234d2b0386015a85227de26a72)
        ;

        
    
    
            var circle_marker_15ee396dbb54778ea180a7b6121c9309 = L.circleMarker(
                [38.5075, -0.23346],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_df1947a32ce5e38250bc95693301493e = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a19561ada217f8aaf0c6907ae12d6cff = $(`<div id="html_a19561ada217f8aaf0c6907ae12d6cff" style="width: 100.0%; height: 100.0%;">             Attack: SQL_INJECTION<br>             Location: Villajoyosa, Spain<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_df1947a32ce5e38250bc95693301493e.setContent(html_a19561ada217f8aaf0c6907ae12d6cff);
            
        

        circle_marker_15ee396dbb54778ea180a7b6121c9309.bindPopup(popup_df1947a32ce5e38250bc95693301493e)
        ;

        
    
    
            var circle_marker_c4ae83908430369116a672ee941330a9 = L.circleMarker(
                [38.5075, -0.23346],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_2426fe37698962d19f15552305feb1f2 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f77cbb1fd3b4ac124f8ae503c89ad80d = $(`<div id="html_f77cbb1fd3b4ac124f8ae503c89ad80d" style="width: 100.0%; height: 100.0%;">             Attack: XSS<br>             Location: Villajoyosa, Spain<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_2426fe37698962d19f15552305feb1f2.setContent(html_f77cbb1fd3b4ac124f8ae503c89ad80d);
            
        

        circle_marker_c4ae83908430369116a672ee941330a9.bindPopup(popup_2426fe37698962d19f15552305feb1f2)
        ;

        
    
    
            var circle_marker_c8bb1e29de39810780912313f73e7daa = L.circleMarker(
                [38.5075, -0.23346],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_2cf617d20820f3421ba3a08bef2e9d58 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_054ff29d75b73a2a04e097f1b93344cb = $(`<div id="html_054ff29d75b73a2a04e097f1b93344cb" style="width: 100.0%; height: 100.0%;">             Attack: XSS<br>             Location: Villajoyosa, Spain<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_2cf617d20820f3421ba3a08bef2e9d58.setContent(html_054ff29d75b73a2a04e097f1b93344cb);
            
        

        circle_marker_c8bb1e29de39810780912313f73e7daa.bindPopup(popup_2cf617d20820f3421ba3a08bef2e9d58)
        ;

        
    
    
            var circle_marker_6a73f7f1bedd5952fb087764e08ccc03 = L.circleMarker(
                [38.5075, -0.23346],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_68b5d60f150f90a8d346eefe6b811910 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_e99d0da53ace6580bd323455e25da9f1 = $(`<div id="html_e99d0da53ace6580bd323455e25da9f1" style="width: 100.0%; height: 100.0%;">             Attack: XSS<br>             Location: Villajoyosa, Spain<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_68b5d60f150f90a8d346eefe6b811910.setContent(html_e99d0da53ace6580bd323455e25da9f1);
            
        

        circle_marker_6a73f7f1bedd5952fb087764e08ccc03.bindPopup(popup_68b5d60f150f90a8d346eefe6b811910)
        ;

        
    
    
            var circle_marker_de3456ce426b34c24922ba4036a4c7f1 = L.circleMarker(
                [38.5075, -0.23346],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_c6ded77ed9ec32da3d2fa8d248a34b4e);
        
    
        var popup_ea650a52e14eaed68533b82fccc6ec24 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_cc96f688ab3c3b4b2bfc3823bf7db469 = $(`<div id="html_cc96f688ab3c3b4b2bfc3823bf7db469" style="width: 100.0%; height: 100.0%;">             Attack: XSS<br>             Location: Villajoyosa, Spain<br>             VPN: 0<br>             Proxy: 0<br>             Hosting: 0             </div>`)[0];
                popup_ea650a52e14eaed68533b82fccc6ec24.setContent(html_cc96f688ab3c3b4b2bfc3823bf7db469);
            
        

        circle_marker_de3456ce426b34c24922ba4036a4c7f1.bindPopup(popup_ea650a52e14eaed68533b82fccc6ec24)
        ;

        
    
</script>
</html>